# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
env/
venv/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Test coverage
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Other
*.swp
*.swo
*.bak
*.tmp
*.orig

# Local settings
local_settings.py
